<template>
   <div>



      <!--<button @click="open=true">Modal</button>-->

   </div>



</template>


<script>
   export default{
       data:function() {
           return {
              isOpen: false,
              fields: {},
              errors: {},
              open: false
           };
       },
       methods: {
            submit() {
                this.errors = {};
                axios.post('/submit', this.fields).then(response => {
                    alert('Message sent');
                }).catch(error => {
                    if (error.response.status===422) {
                        this.errors = error.response.data.errors || {};
                    }
                });
            },
            hideModal() {
                this.open = false;
            }
       }
   }
</script>